span.ok-block {
    color: #fff;
    background-color: #ff6d63;
    font-family: 'Courier New', monospace;
    font-size: 30px;
    padding: 3px 10px;
}

section img.logo, #timeline img {
    border: 0;
    box-shadow: 0 0 0 black;
    margin: 0;
}

section img.logo {
    height: 400px;
}

span.bold {
    font-weight: bold;
}

span.white {
    background-color: #fff;
}

#codefor, #codefor-city, #about, #oklab, #how, #goals, #support, #whats-next, #questions-answers, #license {
    font-family: 'Courier New', monospace;
    text-align: left;
    font-size: 30px;
}

#about p,  #oklab p, #how p, #goals p, #support p, #whats-next p, #questions-answers p, #license p {
    margin: 30px 0;
}

.ok-lab-blue .reveal .state-background {
    background: rgba(32, 184, 247, 1.0 );
}

.ok-lab-green .reveal .state-background {
    background: rgba(36, 217, 162, 1.0 );
}

.ok-lab-red .reveal .state-background {
    background: rgba(254, 126, 117, 1.0 );
}
